*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fs-primary: clamp(2rem, 4vw + 4px, 2.5rem);
  --bs-inner: 0 0 4px 0 rgb(255, 255, 255) inset;
  --color-primary: rgb(240, 248, 255);
  --bgc-primary: #0077b6;
  --bgc-secondary: #023e8a;
  --bgc-ternary: #0c86af;
}

body {
  font-size: clamp(1.2rem, 2vw + 4px, 2rem);
  background-color: var(--bgc-primary);
}

body .Open {
  overflow: hidden;
}

button {
  border-radius: 4px;
  transition: box-shadow 350ms ease-in;
  /* box-shadow: 0 0 4px var(--color-primary); */
  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--color-primary);
}

.Spacing > * + * {
  margin-top: 1rem;
}

.App {
  position: relative;
  padding-top: 4rem;
}

.Wrapper {
  min-height: 100vh;
  padding: 1rem 0;
  margin: 0 auto;
  width: 100%;
  max-width: 80rem;
}

.Flex {
  display: flex;
}

.AlignItemsCenter {
  align-items: center;
}
.JucstifyContentCenter {
  align-items: center;
}

.GridItemCenter {
  place-self: center;
  text-align: center;
  white-space: nowrap;
}

.Icon {
  width: 2rem;
  height: 2rem;
  color: var(--color-primary);
}

.WeatherIcon {
  min-width: 5rem;
  min-height: 5rem;
}

h1 {
  font-size: var(--fs-primary);
}

.HourlyForecast {
  display: flex;
}

@media screen and (min-width: 768px) {
  .HourlyForecast {
    display: block;
  }
}
